*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 10px;
  background-color: #111;
}

.container {
  width: 576px;
  height: 670px;
  margin: 0px auto;
  position: relative;
  overflow: scroll;
  background-color: #333;
}

nav {
  width: 75%;
  padding: 10px 0 15px 15px;
  position: absolute;
  left: 12.5%;
  z-index: 1;
  margin: 0 auto;
  background-color: #000;
}

.restaurant-list {
  width: 75%;
  padding-top: 45px;
  margin: auto;
  background-color: #666;
}

.location {
  padding: 20px 0 0 20px;
  position: relative;
  margin-bottom: 1px;
  position: relative;
  background-color: #DDD;
}

.location:hover {
  background-color: #BBB;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
  display: inline-block;
}

h3 {
  font-size: 1.4em;
  padding-top: 5px;
  padding-bottom: 20px;
}

.arrow {
  float: right;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  /*position: absolute;
  top: 30px;
  right: 20px;*/

}
